@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    
    font-family: 'Raleway', sans-serif; 
    background-color: #ecf0f1;
    
    margin: 0;
    padding: 0;
}

h1,
h2{
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    height: 100%;
    
    background-image: url(https://i.imgur.com/Fe7jSy7.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title h1{
    color: #4876FF;
    
    font-size: 200px;
    font-weight: 300;
    
    margin-left: auto;
    margin-right: auto;
    
}

.title h2{
    color: #4876FF;
    font-size: 50px;

    margin-left: auto;
    margin-right: auto;
}
