@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    
    font-family: 'Raleway', sans-serif; 
    background-color: #E0EEEE;
    
    margin: 0;
    padding: 0;
}

h1,
h2{
    margin: 0;
    padding: 0;
}

.title{
    width: 100%;
    height: 90%;
    display: table;
    background-image: url(https://i.imgur.com/Fe7jSy7.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: outset 10px #26466D;
}

.title h1{
    color: #88ACE0;
    font-size: 200px;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.title h2{
    color: #88ACE0;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.scrolldown{
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
        margin-top: -1%;

}
.scrolldown i{
    color: #000;
    font-weight: 100;
}
.scrolldown i:hover{
    font-weight: 100;
    color: #000;
}

.myname{
    display: table-cell;
    vertical-align: middle;
}
.about{
    padding-bottom: 3%;
}
.seperation{
    background-image: -webkit-linear-gradient(left,#E0EEEE,#000,#E0EEEE );
    height: 2px;
    border: 0px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;


}
.about h2{
    padding-top: 2%;
    text-align: center;
    font-size: 60px;
    font-weight: 200;

}
.about h3{
    padding-top: .25%;
    text-align: center;
    font-weight: 100;
    font-size: 25px
    
}
.about a:link{
    text-decoration: none;
    color: #344152;
}
.about a:hover{
    font-weight: bold;
    color: #836FFF;
}
.about a:active{
    font-weight: bold;
    color: #836FFF;
}
.about a:visited{
    text-decoration: none;
}
.about h4{
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    margin-top: ;
}
.moreabout{
  width: 33%;
  display: block;
  margin-left: auto;
  margin-right: auto;
    
}
.moreabout p{
    padding: 0px;
    text-align: center;
    margin: 2px;
    font-size: 20px
        
}
.moreabout button{
     display:block;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    background-color: #E0EEEE;
    border: 5px solid #3498db;
    color:#2980b9;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    font-size: 25px;
    text-decoration:none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
    -webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;

}
.moreabout button:hover{
    background-color:#3498db;
    color: #fff;
    left:-9999em; 
    top:-9999em; 
}
.hiddenitems{

}
.moreabout button:visited{
    background-color: #2980b9;
    color: #fff;
    left:-9999em; 
    top:-9999em; 
}
.manu {
    color: #D00000 ;
    font-weight: bold;
}
.reddit{
    color: #ff4500;
    font-weight: bold;
}
.davemustaine{
    font-weight: bold;
}
.megadeth{
    font-weight: bold;
    color: #002800;
}
.contact{
    
    border-top: outset 10px #525C65;
    height: 25%;
    background-color: #2c3e50;
    margin-top: 10%;
    margin-bottom: 0;
    padding: 0;
}
.contact h1{
    text-align: center;
    font-size: 85px;
    color:#e74c3c;
    padding-top: 1%;
}
i{
    color:#e74c3c;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
i:hover{
    font-weight: bold;
    color: #c0392b;
}
.projects h1{
    padding-top: 4%;
    text-align: center;
     font-size: 60px;
    font-weight: 200; 
}
.projects h3{
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

