$main-gray: #7f8c8d;
$darker-gray: #4D4D4D;
$lighter-gray: #F8F8F8;

.projects {
	width: 80%;
	text-align: left;
	margin: 0;
	padding: 0;
	height: 85px;
	padding-top: 2.5px;
	padding-bottom: 7.5px;
	
	.inner-project {
		width: 40%;
	}
}

.alternate {
	background-color: $lighter-gray;
}

.at{
	color: $main-gray;
	font-size: 17px;
}

.location {
	color: $darker-gray;
}

.date {
	color: $darker-gray;
}
